@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #002550;
    color: white;
    margin: 0;
}
/* signup page */
#signup_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#signup_input {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    height: 260px;
    width: 275px;
    border: 1px solid lightskyblue;
    border-radius: 10px;
    padding: 1em;
}

#signup_input input[type=email], #signup_input input[type=text], #signup_input input[type=password] {
    border-radius: 10px;
    text-align: center;
    width: 95%;
    font-family: 'Montserrat', sans-serif;
}

/* need CSS to fix avatar input to center it. */

#signup_input input[type=file] {
    font-family: 'Montserrat', sans-serif;
}

#signup_input input[type=submit] {
    width: 130px;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}
/* login page */
#login_div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#login_input {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    height: 200px;
    width: 250px;
    border: 1px solid lightskyblue;
    border-radius: 10px;
    padding: 1em;
}

#remember_me_input {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 175px;
}

#login_input input[type=email], #login_input input[type=password] {
    border-radius: 10px;
    text-align: center;
    width: 95%;
    font-family: 'Montserrat', sans-serif;
}

#login_input input[type=checkbox] {
    width: 20px;
    height: 20px;
}

#login_input input[type=submit], #login_input input[type=button] {
    width: 100px;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}

#home_page_heading, #course_page_heading {
    text-align: center;
}

.underline {
    text-decoration: underline;
    font-size: 22px;
    color: rgb(218, 243, 255);
}

#course_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* home page */
#home_page_content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}
/* domains */
#add_domain_btn {
    margin-bottom: 1em;
    background-color: white;
    border-radius: 5px;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}

#domain_page_heading {
    text-align: center;
}

#domain_page_content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.domain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid lightskyblue;
    border-radius: 10px;
    margin-bottom: 1em;
    width: 70%;
    background-color: #003571;
}

.domain p {
    width: 90%;
    text-align: center;
}

#edit_delete_domain {
    margin-bottom: 1em;
}

#edit_delete_domain input {
    background-color: white;
    border-radius: 5px;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}
/* hr */
.white_line {
    color: white;
    width: 100%;
}
/* courses page */
.course_btns {
    background-color: white;
    border-radius: 5px;
    width: 65px;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}

#courses_page_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
/* edit course page */
.not_id_change_p {
    color: black;
    background-color: rgb(214, 214, 0);
    padding: .5em;
    border-radius: 5px;
    font-weight: bold;
}

#edit_course_form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#edit_course_form input {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    margin-bottom: 1em;
    border-radius: 50px;
}

#edit_course_form input[type=submit] {
    margin-top: 1em;
    background-color: white;
    border-radius: 5px;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}

#edit_course_form select {
    text-align: center;
    width: 20%;
}
/* #courses_page_content a, #courses_page_content input {
    margin-bottom: 1em;
} */

#courses_page_content input {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 15px;
    width: 130px;
}

.course {
    margin-bottom: 1em;
}

#courses_page_heading {
    text-align: center;
}

#course_list {
    display: flex;
    justify-content: center;
}

.add_element_btn {
    background-color: white;
    border-radius: 5px;
    width: 120px;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 1em;
}

.edit_delete_element_btn {
    background-color: white;
    border-radius: 5px;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 1em;
}

#course_info #description {
    width: 900px;
    text-align: center;
}

#course_elements {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.element {
    border: 1px solid rgb(223, 223, 223);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
    margin-top: 1em;
    padding: 1em;
    background-color: #003571;
}

.element .criteria {
    width: 800px;
    text-align: center;
}

.element input {
    background-color: white;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 5px;
}

/* elements page */
.criteria_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid lightskyblue;
    width: 70%;
    text-align: center;
    margin-bottom: 1em;
    border-radius: 10px;
    background-color: #003571;
}

.element-add-edit-del-buttons {
    display: flex;
    margin-bottom: 1em;
}
/* add elements pages */
#add_modify_course_element {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#add_modify_course_element form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#add_modify_course_element form input {
    text-align: center;
    margin-bottom: 1em;
    border-radius: 10px;
    text-align: center;
}

#add_modify_course_element form label {
    font-size: 20px;
    margin-bottom: .5em;
}

#add_modify_course_element form input[type=submit] {
    background-color: white;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 5px;
    margin-top: 1em;
    padding: .3em;
}
/* edit elements page */
#edit_element_heading {
    text-align: center;
}

#add_edit_element_form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 300px;
}

#add_edit_element_form input {
    text-align: center;
    margin-bottom: 1em;
    border-radius: 10px;
    text-align: center;
}

#add_edit_element_form input[type=submit] {
    background-color: white;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 5px;
    margin-top: 1em;
    padding: .3em;
}
/* competencies page */
#competencies_page_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#add_course_btn {
    margin-bottom: 1em;
    background-color: white;
    border-radius: 5px;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}

#competency_info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 1px solid lightskyblue;
    border-radius: 10px;
    width: 65%;
    text-align: center;
    margin-bottom: 1em;
    padding: 1em;
    background-color: #003571;
}

#competency_info input {
    background-color: white;
    border-radius: 5px;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}
/* add/edit competency */
#edit_competency_form {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    height: 300px;
}

#edit_competency_form input {
    text-align: center;
    margin-bottom: 1em;
    border-radius: 10px;
    text-align: center;
}

.edit_add_competency_heading {
    text-align: center;
}

#edit_competency_form input[type=submit] {
    background-color: white;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 5px;
    margin-top: 1em;
    padding: .3em;
}
/* nav bar */
nav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    padding: 0;
}

nav ul li a {
    color: rgb(197, 197, 197);
    text-decoration: none;
    font-size: larger;
    border: 1px solid white;
    padding: 0.5em;
    border-radius: 5px;
    background-color: rgb(50, 50, 50);
}

ul li a {
    color: lightblue;
}

nav ul li a:hover, nav ul li a:visited {
    color: white;
}

nav ul li a:active {
    color: rgb(78, 184, 255);
}

nav {
    background-color: rgb(20, 20, 20);
    border-radius: 6px;
    padding: 8px;
}
/* flash messages */
ul.flashes {
    padding: 0;
}

.flashes li {
    padding: 0.5em;
    font-size: 20px;
    list-style-type: none;
    text-align: center;
}

.message {
    background-color: rgb(255, 255, 140);
    color: black;
}

.flashes .invalid {
    background-color: rgb(255, 55, 55);
    color: black;
}

.flashes .valid {
    background-color: lightgreen;
    color: black;
}

a.invisible_link:link, a.invisible_link:visited {
    color: white;
    text-decoration: none;
}

a.invisible_link:hover {
    color: lightgray;
    text-decoration: underline;
}

a.invisible_link:active {
    color: blue;
    text-decoration: underline;
}
/* avatars */
.avatar {
    width: 150px;
    height: 150px;
}

#small_avatar {
    width: 25px;
    height: 25px;
}

.avatar, #small_avatar {
    border-radius: 50%;
    object-fit: contain;
}
/* blocked status */
#blocked_message {
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    width: 300px;
    background-color: #003571;
    border-radius: 10px;
}

#blocked_message img {
    width: 50px;
    height: 50px;
}


#small_avatar_a {
    display: flex;
}

#blocked {
    color: red;
}

#not_blocked {
    color: greenyellow;
}
/* profile */
#profile_li {
    display: flex;
}

.profile_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2em;
}