#home_page_heading {
    text-align: center;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 0;
}

nav ul li a {
    color: rgb(197, 197, 197);
    text-decoration: none;
    font-size: larger;
}

ul li a {
    color: lightblue;
}

nav ul li a:hover, nav ul li a:visited {
    color: white;
}

nav ul li a:active {
    color: rgb(78, 184, 255);
}

nav {
    background-color: rgb(20, 20, 20);
    border-radius: 6px;
    padding: 8px;
}

body {
    background-color: #002550;
    color: white;
    margin: 0;
}

ul.flashes {
    padding: 0;
}

.flashes li {
    padding: 0.5em;
    font-size: 20px;
    list-style-type: none;
    text-align: center;
}

.message {
    background-color: rgb(255, 255, 140);
    color: black;
}

.flashes .invalid {
    background-color: rgb(255, 55, 55);
    color: black;
}

.flashes .valid {
    background-color: lightgreen;
    color: black;
}

.avatar {
    width: 150px;
    height: 150px;
}

#small_avatar {
    width: 25px;
    height: 25px;
}

.avatar, #small_avatar {
    border-radius: 50%;
    object-fit: contain;
}

#blocked_message {
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    width: 300px;
    background-color: #003571;
    border-radius: 10px;
}

#blocked_message img {
    width: 50px;
    height: 50px;
}


#small_avatar_a {
    display: flex;
}

#profile_li {
    display: flex;
}

.profile_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2em;
}

#custom_404_area {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#custom_404_area h1 {
    margin-top: 10vh;
    margin-bottom: 0;
}

#custom_404_area h3 {
    margin-top: 1em;
}

#not_found {
    color: rgb(0, 140, 255);
}

#blocked {
    color: red;
}

#not_blocked {
    color: greenyellow;
}