{% extends 'base.html' %}

{% block title %}
    Add {{ user_type }}
{% endblock %}

{% block content %}
    <h2>Add {{ user_type }} Form</h2>
    <form method="POST" enctype="multipart/form-data">
        {{ form.csrf_token }}
        {{ form.email.label }} {{ form.email() }}
        {{ form.name.label }} {{ form.name() }}
        {{ form.password.label }} {{ form.password() }}
        {{ form.avatar.label }} {{ form.avatar() }}
        <input type="submit" value="Add {{ user_type }}">
    </form>
{% endblock %}