{% extends 'base.html' %}

{% block title %}
    Courses
{% endblock %}

{% block content %}
    <h1 id="courses_page_heading">
        {% if domain %}    
            {{ domain.name | safe}}
        {% elif term %}
            Term {{ term | safe}}
        {% endif %}
        Courses
    </h1>
    <a href="{{url_for('courses.add_course')}}"><input type="button" value="Add Course" /></a>

    {% for course in courses %}
    <div id="course_list">
       <a href="{{url_for('courses.show_course', course_id=course.id)}}" class="invisible_link">{{ course.title | safe }}</a>
    </div>
    <br/>
    {% endfor %}
{% endblock %}