{% extends 'base.html' %}

{% block title %}
    {% if domain %}    
        {{ domain.name | safe}}
    {% else %}
        Domains
    {% endif %}
{% endblock %}

{% block content %}
    <div id="domain_page_content">
        <h1 id="domain_page_heading">
        {% if domain %}    
            Domain
        {% else %}
            Domains
        {% endif %}
        </h1>
        
        {% for domain in domains %}
            <div class="domain">
                <h2>{{ domain.name | safe }}</h2>
                <p>{{ domain.description | safe }}</p>
            </div>
        {% endfor %}

        {% if domain -%}
            <h2>{{ domain.name | safe }}</h2>
            <p>{{ domain.description | safe }}</p>
        {%- endif %}
    </div>
{% endblock %}