{% extends 'base.html' %}

{% block title %}
    {% if domain %}    
        {{ domain.name | safe}}
    {% else %}
        Domains
    {% endif %}
{% endblock %}

{% block content %}
    <h1 id="domain_page_heading">
    {% if domain %}    
        Domain
    {% else %}
        Domains
    {% endif %}
    </h1>
    
    {% for domain in domains %}
        <h2>{{ domain.name | safe }}</h2>
        <p>{{ domain.description | safe }}</p>
    {% endfor %}

    {% if domain -%}
        <h2>{{ domain.name | safe }}</h2>
        <p>{{ domain.description | safe }}</p>
    {%- endif %}
{% endblock %}