{% extends 'base.html' %}

{% block title %}
    Members Dashboard
{% endblock %}

{% block content %}
    <h1 id="members_heading">List of Members</h1>
    {% if current_user.group == 'User Admin' or current_user.group == 'Admin' %}
        <div class="users_toolbar">
            <button>
                <a href="{{ url_for('members.add_member') }}">Add Member</a>
            </button>
            <button>
                <a href="{{ url_for('members.delete_member') }}">Delete Member</a>
            </button>
            <button>
                <a href="{{ url_for('members.block_member') }}">Block Member</a>
            </button>
            <button>
                <a href="{{ url_for('members.unblock_member') }}">Unblock Member</a>
            </button>
            {% if current_user.group == 'Admin' %}
                <button>
                    <a href="{{ url_for('members.move_member') }}">Move Member</a>
                </button>
            {% endif %}
        </div>
    {% endif %}
    <ul class="users_list">
        {% for member in members %}
            <div class="user_info">
                <a href="{{ url_for('profile.get_profile', email=member.email) }}" class="invisible_link user_info">
                    <img class="user_list_avatar" src="{{ url_for('auth.get_avatar', email=member.email) }}">
                    {{ member.name }} <span class="member_email">&nbsp;{{ member.email }}</span></a> 
                <li>
                    {% if current_user.group != 'Member' %}
                        &nbsp;|
                        {% if member.blocked %}
                            <span id="blocked">BLOCKED</span>                            
                        {% else %}
                            <span id="not_blocked">UNBLOCKED</span> 
                        {% endif %}
                    {% endif %}
                </li>
            </div>
        {% endfor %}
    </ul>
{% endblock %}