{% extends 'base.html' %}

{% block title %}
    List of Members
{% endblock %}

{% block content %}
    <h1>Members</h1>
    <ul>
        {% for member in members %}
            <div class="member_info">
                <li>
                    {{ member.email }}, {{ member.name }}
                </li>
            </div>
        {% endfor %}
    </ul>
    {% if current_user.group != 'Member' %}
        <a href="{{ url_for('members.add_member') }}">
            <button id="add_member_btn">Add Member</button>
        </a>
        <button id="delete_member_btn">Delete Member</button>
        <button id="block_member_btn">Block Member</button>
    {% endif %}
{% endblock %}