{% extends 'base.html' %}

{% block title %}
    {% if element %}
        Editing Element
    {% else %}         
        Add Element
    {% endif %}
{% endblock %}

{% block content %}
    {% if element %}
        <h2>Editing Element</h2>
        <p>{{ element }}</p>
    {% else %}
        <h2>Add Element</h2>
    {% endif %}

    <form method="post">
        {{ form.csrf_token }}

        {{ form.order.label }} {{ form.order() }}
        {{ form.name.label }} {{ form.name() }}
        {{ form.criteria.label }} {{ form.criteria() }}
        {{ form.competency_id.label }} {{ form.competency_id() }}

        <input type="submit" value="submit">
    </form>
{% endblock %}