{% extends 'base.html' %}

{% block title %}
    {% if domain %}
        Editing Domain
    {% else %}         
        Add Domain
    {% endif %}
{% endblock %}

{% block content %}
    <div id="add_domain_content">
        {% if domain %}
            <h2>Editing Domain</h2>
            <!-- <p>{{ domain }}</p> -->
            <div class="domain">
                <h2>{{ domain.name | safe }}</h2>
                <p>{{ domain.description | safe }}</p>
            </div>
        {% else %}
            <h2>Add Domain</h2>
        {% endif %}

        <form method="post">
            {{ form.csrf_token }}

            {{ form.name.label }} {{ form.name() }}
            {{ form.description.label }} {{ form.description() }}

            <input type="submit" value="Submit">
        </form>
    </div>
{% endblock %}