{% extends 'base.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    {% if course %}
        <h2>Editing Course</h2>
        <p>{{ course }}</p>
    {% endif %}

    <form method="post">
        {{ form.csrf_token }}

        {% if course %}
            <p>ID cannot be changed</p>
        {% else %}
            {{ form.id.label }} {{ form.id() }}
        {% endif %}

        {{ form.title.label }} {{ form.title() }}
        {{ form.theory_hours.label }} {{ form.theory_hours() }}
        {{ form.lab_hours.label }} {{ form.lab_hours() }}
        {{ form.work_hours.label }} {{ form.work_hours() }}
        {{ form.description.label }} {{ form.description() }}
        {{ form.domain.label }} {{ form.domain() }}
        {{ form.term.label }} {{ form.term() }}

        <input type="submit" value="submit">
    </form>
{% endblock %}