{% extends 'base.html' %}
{% block title %}
    Sign Up
{% endblock %}
{% block content %}
<div id="signup_div">
    <h1>Sign Up</h1>
    <form method="POST" enctype="multipart/form-data">
        <div id="signup_input">
            {{ form.csrf_token }}
            {{ form.email.label }} {{ form.email() }}
            {{ form.name.label }} {{ form.name() }}
            {{ form.password.label }} {{ form.password() }}
            {{ form.avatar.label }}<div id="avatar_input">{{ form.avatar() }}</div>
            <input type="submit" value="Sign Up!">
        </div>
    </form>
</div>
{% endblock %}