{% extends 'base.html' %}

{% block title %}
    User Admins Dashboard
{% endblock %}

{% block content %}
    <h1>List of User Admins</h1>
    <ul>
        {% for member in members %}
            <div class="member_info">
                <li>
                    {{ member.email }}, {{ member.name }}
                </li>
            </div>
        {% endfor %}
    </ul>
    <button>
        <a href="#">Add User Admin</a>
    </button>
    <button>
        <a href="#">Move User Admin</a>
    </button>
    <button>
        <a href="#">Remove User Admin</a>
    </button>
{% endblock %}