{% extends 'base.html' %}

{% block title %}
    User Admins Dashboard
{% endblock %}

{% block content %}
    <h1>List of User Admins</h1>
    <ul>
        {% for user_admin in user_admins %}
            <div class="user_admin_info">
                <li>
                    <a href="{{ url_for('profile.get_profile', email=user_admin.email) }}">{{ user_admin.email }}, {{ user_admin.name }}</a>
                </li>
            </div>
        {% endfor %}
    </ul>
    <button>
        <a href="{{ url_for('user_admins.add_user_admin') }}">Add User Admin</a>
    </button>
    <button>
        <a href="{{ url_for('user_admins.move_user_admin') }}">Move User Admin</a>
    </button>
    <button>
        <a href="{{ url_for('user_admins.delete_user_admin') }}">Delete User Admin</a>
    </button>
{% endblock %}